# Files ignored
Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.tmp
#*.dll*
#!*EF.CodeGenerators.dll
*.orig

# Folders ignored
_[Oo]utput/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
obj/
_ReSharper*/
[Tt]est[Rr]esult*

# NuGet files
packages/
*.nupkg

# NCrunch files
*.ncrunchsolution
*.ncrunchproject
*_NCrunch_*/
/PEToolKit/packages/*